<section id="subs" class="subscribe">
<footer  class="footer-copyright">
  <div class="container">
    <div class="footer-content">
      <div class="row">

        <div class="col-sm-3">
          <div class="single-footer-item">
            <div class="footer-logo">
              <a href="index.html">
                <img src="./assets/logo/eshdei_0_.svg" alt="Eshdei"/>
              </a><br>
            </div>
          </div><!--/.single-footer-item-->
        </div><!--/.col-->

        <div class="col-sm-3">
          <div class="single-footer-item text-center">
            <h2>Teléfonos</h2>
            <div class="single-footer-txt">
              <p><a href="tel:15201074">1520 - 1074</a></p>
              <p></p>
              <p><a href="tel:15201075">1520 - 1075</a></p>
              <p></p>
              <p><a href="tel:56523815">5652 - 3815</a></p>
            </div><!--/.single-footer-txt-->
          </div><!--/.single-footer-item-->

        </div><!--/.col-->

        <div class="col-sm-3">
          <div class="single-footer-item">
            <h2>Correo Electrónico</h2>
            <div class="single-footer-txt">
              <p class="foot-email"><a href="mailto:eshdeisecr@outlook.com">eshdeisecr@outlook.com</a></p>
            </div><!--/.single-footer-txt-->
          </div><!--/.single-footer-item-->
        </div><!--/.col-->

        <div class="col-sm-3">
          <div class="single-footer-item text-center">
            <h2 class="text-left">Dirección</h2>
            <div class="single-footer-txt text-left">
              <a href="https://www.google.com.mx/maps/place/Eshdei/@19.3210717,-99.2243612,18z/data=!4m5!3m4!1s0x0:0xb1213c60abf409d5!8m2!3d19.320708!4d-99.224776" target="_blank">
                <div [innerHTML]="_es.escuela.dir"></div>
              </a>
            </div><!--/.single-footer-txt-->
          </div><!--/.single-footer-item-->
        </div><!--/.col-->

      </div><!--/.row-->

    </div><!--/.footer-content-->
    <hr>
    <div class="foot-icons ">
      <ul class="footer-social-links list-inline list-unstyled">
                <li><a href="{{_es.escuela.redFac}}" target="_blank" class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
                <!--<li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>-->
                <li><a href="{{_es.escuela.redYou}}" target="_blank" class="foot-icon-bg-3"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
          <!--<p>&copy; {{anio}} <a href="https://www.themesine.com">ThemeSINE</a>. All Right Reserved</p>-->

        </div><!--/.foot-icons-->
    <div id="scroll-Top">
      <i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
    </div><!--/.scroll-Top-->
  </div><!-- /.container-->

</footer>
</section>
